<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
    by <strong>{{ site.author.name }}</strong>
  </small>

  <div class="container-fluid justify-content-center">
    {% for item in site.data.social-media %}
      {% assign key = item[0] %}
      {% if site.author[key] %}
        {% assign social = item[1] %}
        <a class="social mx-1"  href="{{ social.url }}{{ site.author[key] }}"
           style="color: #6c757d"
           onMouseOver="this.style.color='#{{ social.color }}'"
           onMouseOut="this.style.color='#6c757d'">
          <i class="{{ social.icon }} fa-1x"></i>
        </a>
      {% endif %}
    {% endfor %}
  </div>

</footer>

